{% extends 'base.html' %}
{% block title %}Проблемы на сервере{% endblock %}
{% block content %}
<main>
  <section class="container my-5 px-4">
    <div class="container">
      <div class="row my-3">
        <div class="col-sm">
          <h1 class="text-center">Проблемы на сервере</h1>
          <p class="text-center">
            Возможно, на сервере произошёл сбой или проводятся кратковременные 
            технические работы. Попробуйте обновить страницу сейчас или через 
            пару минут.
          </p>
        </div>
			</div>
    </div>
  </section>
</main>
{% endblock %}